{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1></div>

<table class="table table-striped ">
    <thead>
    <tr class="table-info">

        <th scope="col">{% trans 'ID' %}</th>
        <th scope="col">{% trans 'Fullname' %}</th>
        <th scope="col">{% trans 'Workplace' %}</th>
        <th scope="col">{% trans 'Created date' %}</th>
        <th scope="col"></th>
    </tr>
    </thead>

    {% for user in users %}
    <tr>

        <td>{{user.id}}</td>
        <td>{{user | truncatechars_html:12 }}</td>
        <td>{{user.workplace}}</td>
        <td>{{user.date_joined}}</td>


        <td>
            <a class="text-orange" href="{% url 'update_user' user.pk %}">{{ btn_update }}</a>
            <!--            <br>-->
            <a class="text-danger" href="{% url 'delete_user' user.pk %}">{{ btn_delete }}</a>

        </td>
    </tr>
    {% empty %}
    <li>Sorry, no athletes in this list.</li>
    {% endfor %}
</table>
{% endblock %}

