{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <h4><a href="{% url 'create_workday' %}">{{ btn_create }}</a></h4>
</div>
<table class="table table-striped">
    <thead>
    <tr class="table-info">
        <th scope="col">{% trans 'ID' %}</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Workplace' %}</th>
        <th scope="col">{% trans 'Product' %}</th>
        <th scope="col">{% trans 'Time of ' %}</th>
        <th scope="col">{% trans 'Operation' %}</th>
        <th scope="col">{% trans 'Status' %}</th>
        <th scope="col">{% trans 'Description' %}</th>
        <th scope="col">{% trans 'Create date' %}</th>
        <th scope="col">{% trans 'Update date' %}</th>
        <th></th>
    </tr>
    </thead>

    {% for w in workdays %}
    <tr>
        <td>{{ w.id }}</td>
        <td>{{ w.user_name }} </td>
        <td>{{ w.workplace_name }}</td>
        <td>{{w.product}}</td>
        <td><p class="centr"> {{ w.time }} ч </p></td>

        {% if w.operation %}
        <td>{{w.operation}}</td>
        {% else %}
        <td></td>
        {% endif %}


        {% if w.status %}
        {% if w.status.name == "Выполнено" %}
        <td><p class="btn btn-outline-success"> {{w.status}} </p></td>
        {% elif w.status.name == "В работе" %}
        <td><p class="btn btn-outline-warning"> {{w.status}} </p></td>
        {% else %}
        <td><p class="btn btn-outline-danger" > {{w.status}} </p></td>
        {% endif %}
        {% else%}
        <td> </td>
        {% endif %}

        <td>{{w.description}}</td>
        <td>{{w.created_at | date:"d.m.Y"}}</td>
        <td>{{w.update_at |date:"d.m.Y" }}</td>
        <td>
            <a class="text-orange" href="{% url 'toolspass'  %}">{{ btn_update }}</a>
            <!--            <br>-->
            <a class="text-danger" href="{% url 'toolspass'  %}">{{btn_delete}}</a>
        </td>
    </tr>
    {% empty %}
    <p>Sorry, no data in this list.</p>
    {% endfor %}
</table>
{% endblock %}

