{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <P> NB Search is case sensitive </P>
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q" placeholder="Name or Number field">
        <button class="btn btn-secondary btn-sm" type="submit"> {% trans 'search' %}</button>
        <a class="btn btn-secondary btn-sm" href="{% url 'products' %}"
           role="submit">{% trans 'reset' %} </a>
    </form>


    <br>
    <h4><a href="{% url 'create_product' %}">{{ btn_create }}</a></h4>
</div>

<div class="card mb-2">
    <div class="card-body bg-secondary">
        <form class="form-inline center" method="get">
            {% bootstrap_form filter.form field_class="mr-3 ml-2" %}
            <br>
            <div class="mr-4 ml-3 btn-sm">
                <input class="btn btn-primary  " type="submit" value="{% trans 'Show' %}">
                <a class="btn btn-primary " href="{% url 'products' %}"
                   role="submit">{% trans 'Reset' %} </a>
            </div>
        </form>
        <!--        {% for obj in filter.qs %}-->
        <!--        {{ obj.name }} - ${{ obj.specification }}<br/>-->
        <!--        {% endfor %}-->
    </div>
</div>


<!--<table class="table table-striped">-->
<!--<table class="table table-striped table-dark table-sm ">-->
<table class="table table-striped table-dark  ">
    <thead class="thead-dark">
    <tr class="text-sm-start">
        <th scope="col-md-8 mx-auto">{% trans 'ID' %}</th>
        <th scope='col-md-8 mx-auto'> {% trans 'Specification' %}</th>
        <th scope='col-md-8 mx-auto'> {% trans 'Spec_number' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Name' %}</th>
        <th scope="col-md-8 mx-auto">{% translate 'Number' %}</th>
        <th scope="col-md-8 mx-auto">{% translate 'Amount' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Description' %}</th>
        <th scope="col-md-8 mx-auto">{% trans '005' %}</th>
        <th scope="col-md-8 mx-auto">{% trans '010' %}</th>
        <th scope="col-md-8 mx-auto">{% trans '015' %}</th>
        <th scope="col-md-8 mx-auto">{% trans '020' %}</th>
        <th scope="col-md-8 mx-auto">{% trans '025' %}</th>
        <th scope="col-md-8 mx-auto">{% trans '030' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Create date' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Update date' %}</th>
        <th scope="col-md-8 mx-auto"></th>
    </tr>
    </thead>

    {% for t in products %}
    <tr>
        <td>{{t.id}}</td>
        <td>{{t.specification }}</td>
        <td>{{t.spec_number }}</td>
        <td><a href="{% url 'product' t.id %}">{{ t.name }}</a></td>
        <td>{{t.number}}</td>
        <td>{{t.amount}}</td>
        <td>{{t.description | truncatechars:20 }}</td>

        <td>{% if t.step_1 is not none %}<p class="{{ t.color_1 }}">{{ t.step_1 }}</p>{% endif %}</td>
        <td>{% if t.step_2 is not none %}<p class="{{ t.color_2 }}">{{ t.step_2 }}</p>{% endif %}</td>
        <td>{% if t.step_3 is not none %}<p class="{{ t.color_3 }}">{{ t.step_3 }}</p>{% endif %}</td>
        <td>{% if t.step_4 is not none %}<p class="{{ t.color_4 }}">{{ t.step_4 }}</p>{% endif %}</td>
        <td>{% if t.step_5 is not none %}<p class="{{ t.color_5 }}">{{ t.step_5 }}</p>{% endif %}</td>
        <td>{% if t.step_6 is not none %}<p class="{{ t.color_6 }}">{{ t.step_6 }}</p>{% endif %}</td>

        <td>{{t.created_at | date:"d.m.Y" }}</td>
        <td>{{t.update_at | date:"d.m.Y h" }}</td>
        <td>
            <a class="text-orange" href="{% url 'toolspass'  %}">{{ btn_update }}</a>
            <!--                        <br>-->
            <a class="text-danger" href="{% url 'toolspass'  %}">{{btn_delete}}</a>
        </td>


    </tr>

    {% empty %}
    <p>Sorry, no data in this list.</p>
    {% endfor %}
</table>
{% endblock %}

