{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <P> NB Search is case sensitive </P>
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q" placeholder="Name or Number field">
        <button class="btn btn-secondary btn-sm" type="submit"> {% trans 'search' %}</button>
        <a class="btn btn-secondary btn-sm" href="{% url 'products' %}"
           role="submit">{% trans 'reset' %} </a>
    </form>


    <br>
    <h4><a href="{% url 'create_product' %}">{{ btn_create }}</a></h4>
</div>
<!--<table class="table table-striped">-->
<!--<table class="table table-striped table-dark table-sm ">-->
<table class="table table-striped table-dark  ">

    <thead class="thead-dark">
    <tr class="text-sm-start">
        <th scope="col-md-8 mx-auto">{% trans 'ID' %}</th>
        <th scope='col-md-8 mx-auto'> {% trans 'Specification' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Name' %}</th>
        <th scope="col-md-8 mx-auto">{% translate 'Number' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Description' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'step1' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'step 2' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'step 3' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Create date' %}</th>
        <th scope="col-md-8 mx-auto">{% trans 'Update date' %}</th>
        <th scope="col-md-8 mx-auto"></th>
    </tr>

    </thead>
    {% for t in products %}
    <tr>
        <td>{{t.id}}</td>
        <td>{{t.specification }}</td>
        <!--                <td>{{t.name}}</td>-->

        <td><a href="{% url 'product' t.id %}">{{ t.name }}</a></td>

        <td>{{t.number}}</td>

        <td>{{t.description | truncatechars:20 }}</td>
        <!--        <td> <p class="btn btn-success" > {{t.step_1 }}  </p> </td>-->
        <td><p class={{t.color_1 }}> {{t.step_1 }}  </p></td>
        <td><p class={{t.color_2 }}> {{t.step_2 }} </p></td>
        <td><p class={{t.color_3 }}> {{t.step_3 }}  </p></td>


        <!--        {% if t.clear_turning_first %}-->
        <!--        {% if t.clear_turning_first.name == "Выполнено" %}-->
        <!--        <td><p class="btn btn-success"> {{t.clear_turning_first}} </p></td>-->
        <!--        {% elif t.clear_turning_first.name == "В работе" %}-->
        <!--        <td><p class="btn btn-outline-warning"> {{t.clear_turning_first}} </p></td>-->
        <!--        {% else %}-->
        <!--        <td><p class="btn btn-outline-danger"> {{t.clear_turning_first}} </p></td>-->
        <!--        {% endif %}-->
        <!--        {% else %}-->
        <!--        <td></td>-->
        <!--        {% endif %}-->

        <!--        {% if t.clear_turning_second %}-->
        <!--        {% if t.clear_turning_second.name == "Выполнено" %}-->
        <!--        <td><p class="btn btn-success"> {{ t.clear_turning_second }} </p></td>-->
        <!--        {% elif t.clear_turning_second.name == "В работе" %}-->
        <!--        <td><p class="btn btn-outline-warning"> {{t.clear_turning_second}} </p></td>-->
        <!--        {% else %}-->
        <!--        <td><p class="btn btn-outline-danger"> {{t.clear_turning_second}} </p></td>-->
        <!--        {% endif %}-->
        <!--        {% else %}-->
        <!--        <td></td>-->
        <!--        {% endif %}-->

        <!--        {% if t.clear_turning_third %}-->
        <!--        {% if t.clear_turning_third.name == "Выполнено" %}-->
        <!--        <td><p class="btn btn-success"> {{ t.clear_turning_third }} </p></td>-->
        <!--        {% elif t.clear_turning_third.name == "В работе" %}-->
        <!--        <td><p class="btn btn-outline-warning"> {{ t.clear_turning_third }} </p></td>-->
        <!--        {% else %}-->
        <!--        <td><p class="btn btn-outline-danger"> {{ t.clear_turning_third }} </p></td>-->
        <!--        {% endif %}-->
        <!--        {% else %}-->
        <!--        <td></td>-->
        <!--        {% endif %}-->


        <td>{{t.created_at | date:"d.m.Y" }}</td>
        <td>{{t.update_at | date:"d.m.Y h" }}</td>
        <td>
            <a class="text-orange" href="{% url 'toolspass'  %}">{{ btn_update }}</a>
            <!--                        <br>-->
            <a class="text-danger" href="{% url 'toolspass'  %}">{{btn_delete}}</a>
        </td>


        <!--        {% if t.clear_turning_second %}-->
        <!--        <td> <p color="green"> {{t.clear_turning_second}} </p> </td>-->
        <!--        {% else %}-->
        <!--        <td></td>-->
        <!--        {% endif %}-->

        <!--        {% if t.clear_turning_third %}-->
        <!--        <td> <p color="green"> {{t.clear_turning_third}} </p> </td>-->
        <!--        {% else %}-->
        <!--        <td></td>-->
        <!--        <td><a class="text-danger"/> {{t.step_2}}</td>-->


    </tr>
    <!--    {% endif %}-->
    {% empty %}
    <p>Sorry, no data in this list.</p>
    {% endfor %}
</table>
{% endblock %}

