{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <h4><a href="{% url 'create_overtime' %}">{{ btn_create }}</a></h4>
</div>

<table class="table table-striped">
    <thead>
    <tr class="table-info">
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Overtime' %}</th>
<!--        <th scope="col">{% trans 'Create date' %}</th>-->
        <th scope="col">{% trans 'Update date' %}</th>
        <th></th>
    </tr>
    </thead>

    {% for w in overtimes %}
    <tr>
        <td>{{ w.user }} </td>
        <td>{{ w.time }} ч </td>
<!--        <td><p class="centr"> {{ w.time }} ч </p></td>-->
<!--        <td>{{w.created_at | date:"d.m.Y"}}</td>-->
        <td>{{w.update_at | date:"d E"}}</td>
        <td>
            <a class="text-orange" href="{% url 'toolspass'  %}">{{ btn_update }}</a>
            <!--            <br>-->
            <a class="text-danger" href="{% url 'toolspass'  %}">{{btn_delete}}</a>
        </td>
    </tr>
    {% empty %}
    <p>Sorry, no data in this list.</p>
    {% endfor %}
</table>
{% endblock %}

